/* Сховати лоадер */
.loader {
  visibility: hidden; /* Невидимий */
  opacity: 0; /* Невидимий */
  transition: opacity 0.3s ease, visibility 0.3s ease; /* Плавне з'явлення/зникнення */

  position: fixed; /* Фіксоване позиціонування */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Поверх інших елементів */

  width: 48px;
  height: 48px;
  border-radius: 50%;
  animation: rotate 1s linear infinite;
}

/* Лоадер видимий */
.loader.visible {
  visibility: visible;
  opacity: 1;
}

/* Псевдоелементи для лоадера */
.loader::before,
.loader::after {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}

.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

/* Анімація обертання */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Анімація для псевдоелементів */
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}
